@model List<FinTrackPro.Models.Asset>

<h2>Portfolio</h2>

@* <p>
    Total Value + 500 =
    @((double)ViewData["Total"] + 500)
</p> *@

@if (TempData["Message"] != null)
{
    <div class="alert alert-success">
        @TempData["Message"]
    </div>
}

<table class="table table-striped">

    <tr>
        <th>Name</th>
        <th>Value</th>
        <th>Action</th>
    </tr>

    @foreach (var a in Model)
    {
        <tr>
            <td>@a.Name</td>
            <td>@a.Value</td>
            <td>
                <a asp-action="Details" asp-route-id="@a.Id">View</a> |
                <a asp-action="Delete" asp-route-id="@a.Id">Delete</a>
            </td>
        </tr>
    }

</table>